body {
	font: 1rem 'Segoe UI','DejaVu Sans',Calibri,Helvetica;
	margin: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: grid;
	grid-template-rows: 1.5em 1fr 1.5em;
	grid-template-columns: 1fr;
}

.dash {
	border: black 1px dashed;
}

.cell {
	grid-column: auto / auto;
	grid-row: auto / auto;
}

#main_menu {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 420px;
	overflow: hidden;
	border: white 3px solid;
	font-weight: bold;
	font-size: 2rem;
	color: white;
	padding: 50px;
	text-align: center;
	z-index: 42;
}

#main_menu.moved_out {
	top: -526px;  /* influenced by height + 2*border-width + 2*padding */
	transition: top 0.5s ease-in-out;
}

#main_menu:not(.moved_out) {
	top: 0px;
	transition: top 0.5s ease-in-out;
}

#main_menu_anchor {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

#pause_layer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: black;
	z-index: 41;
}

#pause_layer.faded {
	height: 100%;
	opacity: 0.7;
	transition: opacity 0.5s linear;
}

#pause_layer:not(.faded) {
	height: 0%;
	opacity: 0;
	transition: height 0s 0.5s, opacity 0.5s linear;
}

#board {
	display: none;
	position: absolute;
	border: #7f7f7f 1px solid;
}

/* evtl. später durch dynamische CSS-Klassen ersetzen (per JS erzeugt) */
.board7 {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(7, 1fr);
}
.board8 {
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(8, 1fr);
}

.field {
	grid-column: auto / auto;
	grid-row: auto / auto;
	padding: 1%;
	box-shadow: 10px 7px 10px grey;
	z-index: 1;
}
.hidden {
	visibility: hidden;
}
.black {
	color: white;
	background-color: black;
	outline: 1px solid white;
	outline-offset: -2px;
}
.white {
	color: black;
	background-color: white;
	outline: 1px solid black;
	outline-offset: -2px;
}
.target_field {
	color: black;
	background-color: red;
	outline: 1px solid black;
	outline-offset: -2px;
}
.start_field {
	color: white;
	background-color: #0000bb;
	outline: 1px solid black;
	outline-offset: -2px;
}

.possible_move.white {
	background-color: #00ff00;
}
.possible_move.black {
	background-color: #007f00;
}

.figure {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 23;
}

.figure.smooth_movement {
	transition: left 750ms ease-in-out, top 750ms ease-in-out;
}

.current_figure {
}

.swinging {
	transform-origin: 50% 100%;
	animation: reggae 716.085ms linear alternate infinite;
}

@keyframes reggae {
	0% {
		transform: skewX(-7deg) scaleY(1.05);
	}
	20% {
		transform: skewX(-5deg) scaleY(1);
	}
	50% {
		transform: skewX(0deg) scaleY(0.95);
	}
	80% {
		transform: skewX(5deg) scaleY(1);
	}
	100% {
		transform: skewX(7deg) scaleY(1.05);
	}
}

.walking {
	transform-origin: 50% 100%;
	animation: walking_steps 125ms linear alternate infinite;
}

@keyframes walking_steps {
	0% {
		transform: scaleX(0.95) scaleY(1.1);
	}
	50% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(1.05) scaleY(0.95);
	}
}
